* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 18rem;
  margin-top: 2rem;
}

/* hover effect to create a pixelated trail */
/* #theDiv{
  background-color: orangered;
}

#theDiv:hover{
  background-color: yellow;
} */

